{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-content">
        <h1>Edit chapter</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const deleteButton = document.getElementById('edit_delete');
        if (deleteButton) {
            const confirmation = 'Are you sure you want to delete this chapter?';
            deleteButton.addEventListener(
                'click',
                e => window.confirm(confirmation) ||
                    e.preventDefault()
            );
        }
    </script>
{% endblock %}
