{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-content">
        <h1>Edit chapter</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const deleteButton = document.getElementById('edit_delete');
        if (deleteButton) {
            const confirmation =
                'Do you want to move this chapter to the recycle bin?\n' +
                'The chapter stays in the recycle bin and can be restored at any time.';
            deleteButton.addEventListener('click', e => window.confirm(confirmation) || e.preventDefault());
        }
    </script>
{% endblock %}
