{% extends 'base.html.twig' %}

{% block main %}
    <div class="error">
        <div>
            {{ message }}
        </div>
    </div>
{% endblock %}

{% block title %}Error - {{ parent() }}{% endblock %}
