{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .error {
            border: 5px dashed red;
            display: flex;
            justify-content: center;
            width: 80%;
        }
    </style>
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="error">
        <div>
            {{ message }}
        </div>
    </div>
{% endblock %}
