{% extends 'base.html.twig' %}

{% block body %}
    <div class="signup-or-login">
        <a href="/signup">Sign up</a>
        or
        <a href="/login">Log in</a>
    </div>
    <h1>WebToony</h1>
    <h2>Recent chapters</h2>
    <div>TODO</div>
    <h2>My chapters</h2>
    <div>TODO</div>
{% endblock %}
