{% extends 'base.html.twig' %}

{% block menu_home %}
{% endblock %}

{% block main %}
    <h1>OmmaComics</h1>
    {% if is_granted('ROLE_AUTHOR') %}
        <div>
            <a href="{{ path('upload') }}">Upload new chapter</a>
        </div>
    {% endif %}
    <h2>Recent chapters</h2>
    <div>TODO</div>
    <h2>My chapters</h2>
    <div>TODO</div>
{% endblock %}
