{% extends 'base.html.twig' %}

{% block menu_home %}
{% endblock %}

{% block main %}
    <h1>OmmaComics</h1>
    {% if is_granted('ROLE_AUTHOR') %}
        <div>
            <a href="{{ path('upload') }}">Upload new chapter</a>
        </div>
    {% endif %}
    <h2>Recent chapters</h2>
    <div>
        {% for chapter in publicChapters %}
            TODO
        {% else %}
            <p>No published chapters yet!</p>
            <p>
                Be the first to publish a chapter:
                <a href="{{ path('upload') }}">upload a chapter</a>
            </p>
        {% endfor %}
    </div>
    <h2>My chapters</h2>
    <div>TODO</div>
{% endblock %}
