{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-content">
        <h1>Recycle bin</h1>
        <div>
            {% if deletedChapters is not empty %}
                {{ include('comics/_chapter_list.html.twig', { chapters: deletedChapters, actions: ['edit', 'restore'] }) }}
            {% else %}
                <p>Your recycle bin is empty!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
