{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-content">
        <h1>Upload new chapter</h1>
        {{ form_start(form) }}
        {{ form_widget(form, { attr: { class: 'upload-form' } }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
