{% extends 'base.html.twig' %}

{% block body %}
    <h1>Upload new chapter</h1>
    {# NEW #}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {# OLD #}
    <form method="POST" enctype="multipart/form-data">
        <div>
            <label>
                <span>Select ZIP archive:</span>
                <input type="file" name="zip"/>
            </label>
        </div>
        <button>Upload</button>
    </form>
    {# END #}
{% endblock %}
