
$pad: 20px;
$width: 1000px;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-size-adjust: 100%;
}

body, button, input {
    font-family: sans-serif;
    font-size: 3vmin;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $width + 2 * $pad;
    padding: 0 $pad;
}

.menu__item.menu__item_auth {
    margin-left: auto;
}

.menu-hr {
    border-top: 1px solid black;
    margin: 0 auto;
    max-width: $width;
    width: 100%;
}

.content {
    margin: 0 auto;
    max-width: $width;
}

.flash-info {
    border: 1px solid red;
    background: yellow;
    padding: 10px;
    margin: 10px 0;
}

.text-content {
    padding: $pad;
}
