.chapter-list {
    padding: 0 40px;

    & .chapter-list__item {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    & .chapter-list__name {
        overflow-x: clip;
        text-overflow: ellipsis;
        width: 300px;
    }
}
