
.edit-restore {
    display: flex;
    flex-direction: row-reverse;

    &__button {
        color: orangered;
    }
}

.edit-delete {
    display: flex;
    flex-direction: row-reverse;

    &__button {
        color: red;
    }
}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
