@import 'form';

.edit-restore {
    display: flex;
    flex-direction: row-reverse;

    &__button {
        color: orangered;
    }
}

.edit-delete {
    display: flex;
    flex-direction: row-reverse;

    &__button {
        color: red;
    }
}

.edit-form {
    @extend .form
}

.preview {
    display: block;
    height: 100px;
    position: relative;
    width: 100px;
}

.preview__image {
    display: block;
    width: 100%;
}
