@import 'form';

.edit-restore {
    display: flex;
    flex-direction: row-reverse;

    &__button {
        color: orangered;
    }
}

.edit-delete {
    display: flex;
    flex-direction: row-reverse;

    &__button {
        color: red;
    }
}

.edit-form {
    @extend .form
}

.preview {
    display: flex;
    flex-wrap: wrap;
}

.preview__image {
    border: 1px black solid;
    display: block;
    margin: 10px;
    max-height: 200px;
    max-width: 200px;
    padding: 10px;
}
