.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1em;
    & .form__input[type=file] {
        width: 50%;
    }
    & .form__input[type=text] {
        border-width: 2px;
        width: 50%;
    }
    & .form__label {
        display: inline-block;
        padding-right: 5%;
        width: 50%;
    }
    & .form__row {
        display: flex;
        width: 100%;
        &:hover {
            box-shadow: inset 0 0 0 2rem #eee;
        }
        &.form__row--button {
            width: 50%;
            &:hover {
                box-shadow: none;
            }
        }
    }
}
