.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1em;
    & .form__input[type=file] {
        width: 50%;
    }
    & .form__input[type=text] {
        border-width: 2px;
        width: 50%;
    }
    & .form__label {
        display: inline-block;
        width: 50%;
    }
    & .form__row {
        display: flex;
        width: 100%;
        &.form__row--button {
            width: 50%;
        }
    }
}
