
.author-action-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__item {
        padding: 1em;
    }
}

.chapter-list {
    width: 80%;

    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
    }

    &__name {
        width: 300px;
    }
}
