.read__container {
    position: relative;
    width: 100%;
    &.read__container--horizontal {
        overflow-x: clip;
    }
}

.read__image {
    display: block;
    width: 100%;
    &.read__image--horizontal {
        position: absolute;
        transition: all 1s;
    }
}
