.read__container {
    position: relative;
    width: 100%;
}

.read__image {
    display: block;
    width: 100%;
    &.read__image--horizontal {
        position: absolute;
        transition: left 1s;
    }
}
