body {
    background-color: lightgray;
    font-size: 3vmin;
    margin: 0;
}

.main {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.menu {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu_item_auth {
    margin-left: auto;
}

/* EDIT */

.flash-info {
    border: 1px solid red;
    background: yellow;
    padding: 10px;
    margin-bottom: 10px;
}

/* MAIN */

.chapter-list {
    width: 80%;
}
.chapter-list__item {
    display: flex;
    justify-content: space-between;
}
.chapter-list__name {
    width: 300px;
}

/* ERROR */

.error {
    border: 5px dashed red;
    display: flex;
    justify-content: center;
    width: 80%;
}

/* READ */

.read-image {
    display: block;
    width: 100%;
}
