<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block auth %}
            <div class="auth">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    Hello, {{ app.user.username }}!
                    (<a href="{{ logout_path() }}">Log out</a>)
                {% else %}
                    <a href="/signup">Sign up</a>
                    or
                    <a href="{{ path('login') }}">Log in</a>
                {% endif %}
            </div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
